:root {
	--white: #fcfcfc;
	--white-secondary: #e4ddf0;

	--lightgreen: #7ED957;
	--lightgreen-secondary: #D0FFBB;
	--green: #192E10;

	--grey: #9E9FA3;
	--grey-secondary: #414341;

	--warning: #ff4e37;
}

*{
    padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 2vh;

}

body{
    background-color: var(--white);
}

#menu-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#menu-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#menu-container ul li {
    margin: 0 10px;
}

#menu-container ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease; 
    border-bottom: 2px solid transparent;
    padding: 0 5px 3px;
}

#menu-container ul li a:hover {
    color: var(--lightgreen);
    border-bottom: 1px solid var(--lightgreen); 
  
}

#home-container{
    display: flex;
    flex-direction: column;
    padding: 12em 60vh;
    
}

#icon-language-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

#icon-language-container img {
    width: 520px;
    height: auto;
    opacity: 30%; 
    margin-left: -15vh;
}

#icon-language{
    fill: gold;
    
}


#icon-language {
    opacity: 0;
    transition: transform 1s ease;
    
}

.icon-language-transition-class {
    opacity: 1;
    transform: translateY(-10px);
}




.sub-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.sub-title-container h3{
    padding: 0 20px 3px 0;
    border-bottom: 5px solid var(--lightgreen); 
    font-size: 1em;
}



.icon-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
   
}

.icon-list li {
    margin-right: 10px;
}

.icon-list li a{
    margin-right: 10px;
    padding: 0 5px 3px;
    border-bottom: 2px solid transparent;

}

.icon-list li a:hover{
    border-bottom: 4px solid var(--lightgreen); 

}

.icon-list li a img {
    transition: transform 0.3s ease; 
}

.icon-list li a:hover img {
    transform: translateY(-5px);
}




.name-container{
    text-align: center;
}

.name-container h1{
    font-size: 17vh;
    font-weight: 600;
    margin-top: -8%;
}

.name-container h2{
    font-size: 2.5vh;
    font-weight: 600;
    margin-top: -8%;
}

.name-container p{
    font-size: 1em; 
    text-align: right; 
    margin-top: 0;  
}

.icons-contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1vh 90vh;
}

.icons-contact-container img {
    transition: transform 0.3s ease; 
}

.icons-contact-container img:hover {
    transform: translateY(-5px);
}

.about-container{
    display: flex;
    justify-content: center;
    padding: 10vh 20vh 0 20vh;
    
}

.about-container div h2{
    padding: 10vh 0 0 2vh;
    margin-bottom: 2vh;
    border-left: 4px solid var(--lightgreen);

    font-size: 2em; 
    color: var(--lightgreen);
}
.about-container div p{
   font-weight: 100;
}

#about-container div img{
    padding-left: 10vh;
    
}

.skills-container{
    margin-top: -50px;
    padding-bottom: 20vh;
    background-color: var(--lightgreen-secondary);
    
}

.skills-text-container{
    padding: 10vh 20vh 0 20vh;

    display: flex;
    justify-content: space-between;
}

.skills-text-container h2{
    padding-right: 50vh;

    font-size: 2em; 
}

.skills-cards-container{
    padding: 10vh 0 0 20vh;
    display: flex;
    justify-content: space-around;
}